<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="flash-box">
 <% unless flash[:notice].nil? %>
   <p class="flash-msg"> <%= flash[:notice] %> <% flash[:notice]=nil%></p>
<% end %>
</div>


<h4> Βαθμοί Μαθήματος </h4>
<% remote_form_for @group, :url=>{ :action=>'update_grades' }, :html=>{:multipart=>true, :method=>:post} do |g_form| %>

  <%= g_form.error_messages %>
<table width="100%" id="listing">
    <tr class="tr-head">
      <td>Όνοματεπώνυμο Σπουδαστή</td>
      <td>Ακαδημαϊκό Έτος</td>
      <td>Εξέταση Α</td>
      <td>Εξέταση Β</td>
      <td>Εξέταση Γ</td>
  </tr>

<% fields_for :students_subjects do |s_form| %>
    <% @student_subjects_grades.each do |grade_set| %>
      <%= s_form.hidden_field :subject_id, :value=>grade_set.subject_id %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-2">
          <%= link_to grade_set.student.full_name,:controller => "student", :action => "profile", :id => grade_set.student.id %>
        </td>
        <td class="col-1"><%= grade_set.academic_year.name %> </td>
        <td class="col-1"><div class="label-field-pair2">
                <div class="text-input-bg2">
                    <% if grade_set.a_grade.blank? %>
                        <%= s_form.text_field 'a_grade['+grade_set.student.id.to_s+']', :size => 4, :class => 'grade' %>
                    <% else %>
                        <%= s_form.text_field 'a_grade['+grade_set.student.id.to_s+']', :size => 4, :class => 'grade' , :value=>grade_set.a_grade%>
                    <%end%>
            </div>
          </div>
        </td>
        <td class="col-1">
          <div class="label-field-pair2">
              <div class="text-input-bg2">
                    <% if grade_set.b_grade.blank? %>
                        <%= s_form.text_field 'b_grade['+grade_set.student.id.to_s+']', :size => 4, :class => 'grade' %>
                    <% else %>
                        <%= s_form.text_field 'b_grade['+grade_set.student.id.to_s+']', :size => 4, :class => 'grade' , :value=>grade_set.b_grade%>
                    <%end%>
            </div>
          </div>
      </td>
        <td class="col-1">
          <div class="label-field-pair2">
              <div class="text-input-bg2">
                    <% if grade_set.c_grade.blank? %>
                        <%= s_form.text_field 'c_grade['+grade_set.student.id.to_s+']', :size => 4, :class => 'grade' %>
                    <% else %>
                        <%= s_form.text_field 'c_grade['+grade_set.student.id.to_s+']', :size => 4, :class => 'grade' , :value=>grade_set.c_grade%>
                    <%end%>
            </div>
          </div>
        </td>
    </tr>
    <% end %>
<% end %>

</table>

    <% if false %>
   <%= submit_tag "", :value => "► Αποθήκευση Αλλαγών", :class => "submit_button2" %>
    <% end %>

<% end %>

