<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/user_profile/user_profile_logo.jpg") %>
  <h1><%= @group.name %></h1>
  <h3><%= t('san_semesters') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div id="flash-box">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  </div>

  <%= link_to_remote 'Εγγραφή σε νέο εξάμηνο', :url => { :controller=>"groups",:action => 'subscribe_semester', :id => @group.id} %>
  <p/>
<div id="semester_list">


  <table width="50%" id="listing">
    <tr class="tr-head">
      <td>Αριθμός</td>
      <td>Ακαδημαϊκό Έτος</td>
      <td>Τρέχον</td>
      <td>Περατωθέν</td>
      <td>Ενέργειες</td>
    </tr>
    <% form_for @group, :url=>{:action=>'edit_semesters'}, :html=>{:method=>:post}  do |f| %>
      <% @active_semesters.sort!{|a,b| b[:number]<=>a[:number]}.each do |sem| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td align="center"><%= sem[:number] %></td>
          <td><%= sem[:year] %></td>
          <td align="center"><%= f.radio_button sem[:id], "active", {:checked=>sem[:is_active]} %> </td>  
          <td align="center"><%= f.radio_button sem[:id], "past", {:checked=>!sem[:is_active]} %> </td>  
          <td> <%= link_to 'Ακύρωση Εγγραφής', {:controller=>"groups", :action=>"delete_semester", :semester_id=>sem[:id]}, :method=>:post, :confirm => 'Είστε σίγουρος;' %></td>
       </tr>
      <% end %>
    </table>
    <p/>
    </div>
  <div class="label-field-pair">
    <label for="graduation_date">
      Η τάξη αποφοίτησε: 
    </label>
    <div class="text-input-bg-admission">
      <%= f.check_box :graduated %>
    </div>
  </div>
  <div class="label-field-pair">
    <label for="graduation_date"><%= t('date_of_graduation') %></label>
    <div class="text-input-bg-admission">
      <% if @group.graduation_date.nil? %>
        <%= calendar_date_select_tag :graduation_date, I18n.l(Date.today ,:format=>:default),
          :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
      <% else %>
        <%= calendar_date_select_tag :graduation_date, I18n.l(@group.graduation_date ,:format=>:default),
          :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
      <% end %>
    </div>
  </div>
  <p/>
  <div id="submit-button">
     <%= submit_tag "► #{t('update')}" %>
  </div>
<% end %>


<div id="modal-box" style="display:none;"></div>
</div>
