<div id="content-header">
     <%= image_tag("/images/show_settings.png") %>
  <h1>Τάξεις</h1>
  <h3>Διαχείριση</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "Προβολή όλων", :action => "index" %></li>
    <li><%= link_to_remote "Δημιουργία Τάξης", :url=>{:controller=>"groups",:action => "new"} %></li>
  </ul>
</div>


<div id="page-yield">
  <div id="flash-box">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  </div>
  <div class="box">

    <div id="groups">

<table width="100%" id="listing">
  <tr class="tr-head">
    <td>Α/Α</td>
    <td>Τίτλος</td>
    <td align="center">Πρώτο έτος</td>
    <td align="center">Έτος αποφοίτησης</td>
    <td align="center">Ενέργειες</td>
  </tr>
  <% index = 0 %>
<% @groups.each do |group| %>
   <tr class="tr-<%= cycle('odd', 'even') %>">
    <% index += 1 %>
    <td align="center"><%= index %></td>
    <td><%= link_to group.name, group %></td>
    <td align="center"><%= group.first_year.year %></td>
    <td align="center"><%= group.graduation_year.year %></td>
    <td align="center"><%= link_to 'Προβολή', group %> | <%= link_to_remote 'Μετατροπή', :url=>{:controller=>"groups", :action=>"edit", :id=>group.id}, :method=>:get %> | <%= link_to 'Διαγραφή', group, :confirm => 'Είστε βέβαιος;', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<div id="modal-box" style="display:none;"></div>

<div class="extender"></div>
 </div></div>
