<div id="content-header">
     <%= image_tag("/images/show_settings.png") %>
  <h1><%= @group.name%></h1>
  <h3><%= t('control') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to t('semesters'), :action => "edit_semesters" %></li>
    <li><%= link_to t('grades'), :action => "grades" %></li>
    <li><%= link_to t('lists'), :action => "lists" %></li>
    <li><%= link_to t('edit_text'), edit_group_path(@group) %> 
    <li><%= link_to t('view_all'), :action => "index" %></li>
  </ul>
</div>


<div id="page-yield">
  <div id="flash-box">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  </div>
<div class="box">

	<div id="subjects">

<p>
  <b>Ημερομηνία πρώτης εγγραφής:</b>
  <%=h @group.first_year %>
</p>

<p>
<b>Ημερομηνία αποφοίτησης:</b>
  <%=h @group.graduation_year %>
  </p>

  <div id="semesters">
   <table id="listing">
     <tr class="tr-head">
       <td colspan=4 align="center">Εξάμηνα </td>
    </tr>
    <tr class="tr-head">
      <td>Αριθμός</td>
      <td>Ακαδημαϊκό Έτος</td>
      <td>Περατωθέν</td>
    </tr>
    <% @semesters.sort!{|a,b| a.year==b.year ? (b.number <=> a.number) : b.year <=> a.year}.each do |sem| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1"> <%= sem.number %> </td>
        <td class="col-2"> <%= sem.year %> </td>
        <% if sem.id == @group.active_semester_id %>
          <td class="col-1"> Τρέχον </td>
        <% else %>
          <td class="col-1"> &#10004;  </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p/>
</div>


 <div class="students-table">
   <table width="100%" cellpadding="1" cellspacing="1" id="listing">
     <tr class="tr-head">
       <td colspan=4 align="center">Εγγεγραμμένοι Σπουδαστές </td>
    </tr>
    <tr class="tr-head">
      <td>Α/Α</td>
      <td>Ονοματεπώνυμο</td>
      <td>Α.Μ.</td>
      <td></td>
    </tr>

    <% @students.sort!{|a, b| a.last_name <=> b.last_name}.each_with_index do |r, i| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1">
          <%= i+1 %>
        </td>

        <td class="col-2">
          <%= link_to r.full_name,:controller => "student", :action => "profile", :id => r.id %>
        </td>

        <td class="col-1">
          <%= r.admission_no %>
        </td>

        <td class="col-7">
          <%=  link_to  "#{t('view_profile')}", :controller => "student", :action => "profile", :id => r.id %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @students %>
</div> 


<div id="modal-box" style="display:none;"></div>

<div class="extender"></div>
 </div></div>
