<div id="content-header">
     <%= image_tag("/images/show_settings.png") %>
  <h1><%= @group.name%></h1>
  <h3><%= t('control') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to t('semesters'), :action => "edit_semesters" %></li>
    <li><%= link_to t('grades'), :action => "grades" %></li>
    <li><%= link_to t('lists'), :action => "lists" %></li>
    <li><%= link_to t('view_all'), :action => "index" %></li>
  </ul>
</div>


<div id="page-yield">
  <div id="flash-box">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  </div>
<div class="box">


  <div id="profile_view">
    <div class="profile_info_label2"><%= t('first_year') %></div>
    <div class="profile_info_text2"> <%= @group.first_year.year %> </div>
    
    <div class="profile_info_label2"><%= t('graduation_year') %></div>
    <div class="profile_info_text2"> <%= @group.graduation_year.year %> </div>
  </div>

  <div id="semesters">
   <table id="listing">
     <tr class="tr-head">
       <td colspan=4 align="center">Εξάμηνα </td>
    </tr>
    <tr class="tr-head">
      <td>Αριθμός</td>
      <td>Ακαδημαϊκό Έτος</td>
      <td>Περατωθέν</td>
    </tr>
    <% @semesters.sort!{|a,b| a.academic_year.start_date==b.academic_year.start_date ? (b.number <=> a.number) : b.academic_year.start_date <=> a.academic_year.end_date}.each do |sem| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1" align="center"> <%= link_to sem.number, sem %> </td>
        <td class="col-2"> <%= sem.academic_year.name %> </td>
        <% if sem.id == @group.active_semester_id %>
          <td class="col-1"> Τρέχον </td>
        <% else %>
          <td class="col-1"> &#10004;  </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p/>
</div>


 <div class="students-table">
   <table width="100%" cellpadding="1" cellspacing="1" id="listing">
     <tr class="tr-head">
       <td colspan=4 align="center">Εγγεγραμμένοι Σπουδαστές </td>
    </tr>
    <tr class="tr-head">
      <td>Α/Α</td>
      <td>Ονοματεπώνυμο</td>
      <td>Α.Μ.</td>
      <td></td>
    </tr>

    <% @students.each do |r| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1">
        </td>

        <td class="col-2">
          <%= link_to r.full_name,:controller => "student", :action => "profile", :id => r.id %>
        </td>

        <td class="col-1">
          <%= r.admission_no %>
        </td>

        <td class="col-7">
          <%=  link_to  "#{t('view_profile')}", :controller => "student", :action => "profile", :id => r.id %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @students %>
</div> 


<div id="modal-box" style="display:none;"></div>

<div class="extender"></div>
 </div></div>
