
<% form_remote_for @san_subject do |f| %>
  <div id="form-errors"> </div>

  <div class="label-field-pair">
    <label for="san_subject_title"><%= t('subject_title')%></label>
    <div class="text-input-bg">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="label-field-pair">
    <label for="san_subject_title"><%= t('subject_kind')%></label>
    <div class="text-input-bg">
      <%= f.select :kind, {"Στρατιωτικό"=>"Military", "Πανεπιστημιακό"=>"University"} %>
    </div>
  </div>
  <%= f.submit t('edit_text'), :class => "submit_button"  %>
<% end %>

