<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "#{t('view_all')}", :action => "index" %></li>
    <li><%= link_to "#{t('add_new')}", :action => "new" %></li>
  </ul>
</div>



<p>
  <b>Id:</b>
  <%=h @san_subject.id %>
</p>

<p>
  <b>Title:</b>
  <%=h @san_subject.title %>
</p>

<p>
  <b>Type:</b>
  <%=h @san_subject.kind %>
</p>


<%= link_to 'Edit', edit_san_subject_path(@san_subject) %> |
<%= link_to 'Back', san_subjects_path %>
