<h1>Editing class</h1>

<% form_for(@class) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :first_year %><br />
    <%= f.date_select :first_year %>
  </p>
  <p>
    <%= f.label :graduation_year %><br />
    <%= f.date_select :graduation_year %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @class %> |
<%= link_to 'Back', classes_path %>