<div id="content-header">
     <%= image_tag("/images/show_settings.png") %>
  <h1>Εξάμηνα</h1>
  <h3>Διαχείριση</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to t("view_all"), :action => "index" %></li>
    <li><%= link_to t("add_new"), :action => "new" %></li>
  </ul>
</div>


<div id="page-yield">
  <div id="flash-box">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  </div>
<div class="box">

<table width="100%" id="listing">
  <tr class="tr-head">
    <td><%= t('semester_number') %></td>
    <td><%= t('academic_year') %></td>
    <td><%= t('factor') %> <br/><%= t('of_university_subjects') %></td>
    <td><%= t('factor') %><br/><%= t('of_military_subjects') %></td>
    <td><%= t('factor') %><br/><%= t('of_military_performance') %></td>
    <td><%= t('actions') %></td>
  </tr>

  <% @san_semesters.sort!{|a, b| a.year==b.year ? (b.number <=> a.number):b.year<=>a.year}.each do |san_semester| %>
   <tr class="tr-<%= cycle('odd', 'even') %>">

    <td class="col-1"><%=h san_semester.number %></td>
    <td class="col-1"><%=h san_semester.year %></td>
    <td class="col-1"><%=h san_semester.uni_weight %></td>
    <td class="col-1"><%=h san_semester.mil_weight %></td>
    <td class="col-1"><%=h san_semester.mil_p_weight %></td>
    <td class="col-2"><%= link_to t('show'), san_semester %> | <%= link_to t('edit_text'), edit_san_semester_path(san_semester) %> | <%= link_to t('delete_text'), san_semester, :confirm => 'Είστε σίγουρος;', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

</div>
</div>



