<% # -*- coding: UTF-8 -*- %>
<div id="content-header">
     <%= image_tag("/images/show_settings.png") %>
  <h1><%= t('semester') %></h1>
  <h3><%= t('home') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "#{t('add_subjects')}", :action => "add_subjects" %></li>
    <li><%= link_to "#{t('add_new')}", :action => "new" %></li>
  </ul>
</div>

<div id="page-yield">
  <div id="flash-box">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  </div>
  <div class="subject">
    <p>
      <b>Αριθμός</b><%=h @san_semester.number %>
    </p>

    <p>
      <b>Ακαδημαϊκό Έτος</b><%=h @san_semester.year %>
      </p>
    <p>
      <b>Συντ. Στρατιωτικών Μαθημάτων:</b><%=h @san_semester.uni_weight %>
    </p>
    <p>
      <b>Συντ. Πανεπιστημιακών Μαθημάτων:</b>
      <%=h @san_semester.mil_weight %>
    </p>
  <p>

<table>
  <tr>
    <th>Τίτλος</th>
    <th>Τύπος</th>
    <th>Προαιρετικό</th>
  </tr>

<% SemesterSubjects.find_all_by_semester_id(@san_semester.id).each do |semester_subject| %>
  <tr>
    <td><%=h SanSubject.find(semester_subject.subject_id).title %></td>
    <td><%=h SanSubject.find(semester_subject.subject_id).kind %></td>
    <% if semester_subject.optional %>
    <td>Προαιρετικό</td>
    <% else %>
    <td>Υποχρεωτικό</td>
    <% end %>
  </tr>
<% end %>
</table>

</p>
</div>

<%= link_to 'Edit', edit_san_semester_path(@san_semester) %> |
<%= link_to 'Back', san_semesters_path %>
</div>
